<ion-split-pane contentId="main-content">
  <ion-menu contentId="main-content" type="overlay">
    <ion-content>
      <ion-list id="inbox-list">
        <div class="ion-text-center ion-margin-bottom" style="margin-top: 1rem">
          <img [src]="logo" height="125" alt="logo" />
        </div>

        <ion-list-header>Runway Incursion</ion-list-header>
        <ion-note>Infina</ion-note>

        <ion-menu-toggle
          auto-hide="false"
          *ngFor="let p of appPages; let i = index"
        >
          <ion-item
            (click)="selectedIndex = i"
            routerDirection="root"
            [routerLink]="[p.url]"
            lines="none"
            detail="false"
            [class.selected]="selectedIndex == i"
          >
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-item
          (click)="showSettingsModal()"
          lines="none"
          detail="false"
        >
          <ion-label>Settings</ion-label>
        </ion-item>

        <ion-item (click)="attemptLogout()" lines="none" detail="false">
          <ion-label>Logout</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>
