<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()"> Close </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="done()"> Done </ion-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      [(ngModel)]="search"
      (ionChange)="onChange($event)"
      animated
      placeholder="Search Runway"
      clear-icon="close-circle"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-virtual-scroll [items]="filteredCategories" approxItemHeight="320px">
    <ion-item *virtualItem="let category; let itemBounds = bounds">
      <ion-label>{{ category.name }}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="category.selected"></ion-checkbox>
    </ion-item>
  </ion-virtual-scroll>
</ion-content>
