<ion-header>
  <ion-toolbar color="primary">
    <ion-title>State Incursions</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="Home" defaultHref="/app/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="bg-wave-inverse-4">
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content style="min-height: 600px">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <app-map-chart></app-map-chart>

                  <div>
                    <google-chart
                      style="width: 100%"
                      title="Test Chart"
                      type="GeoChart"
                      [options]="options"
                      [columns]="columns"
                      [data]="data"
                    ></google-chart>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
