<ion-header>
  <ion-toolbar color="primary">
    <ion-title>One Year Rolling Incursion</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="Home" defaultHref="/app/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="bg-wave-inverse-3">
    <ion-row>
      <ion-col>
        <ion-card>
          <div *ngIf="isLoading$ | async; else content">
            <ion-card-content style="min-height: 600px">
              <div
                class="ion-text-center ion-justify-content-center ion-align-items-center"
              >
                <ion-spinner
                  name="crescent"
                  color="primary"
                  class="spinner-center"
                ></ion-spinner>
              </div>
            </ion-card-content>
          </div>

          <ng-template #content>
            <!-- <ion-card-content>
              <form [formGroup]="filtersFormGroup" (ngSubmit)="onSubmit()">
                <ion-grid>
                  <ion-row>
                    <ion-item>
                      <ion-label>Select Airport</ion-label>
                      <ion-select
                        formControlName="facility"
                        placeholder="Select One"
                      >
                        <ion-select-option
                          *ngFor="let facility of facilities"
                          [value]="facility"
                          >{{ !!facility ? facility : 'N/A'
                          }}</ion-select-option
                        >
                      </ion-select>
                    </ion-item>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-item>
                        <ion-label position="fixed">From</ion-label>
                        <ion-input
                          formControlName="minDate"
                          type="date"
                        ></ion-input>
                      </ion-item>
                    </ion-col>
                    <ion-col>
                      <ion-item>
                        <ion-label position="fixed">To</ion-label>
                        <ion-input
                          formControlName="maxDate"
                          type="date"
                        ></ion-input>
                      </ion-item>
                    </ion-col>
                    <ion-col>
                      <ion-button type="submit" expand="block"
                        >Search</ion-button
                      >
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </form>
            </ion-card-content> -->
            <ion-card-content style="min-height: 600px">
              <ion-card-subtitle
                >Daily One-Year Rolling Incursion</ion-card-subtitle
              >
              <app-apex-line-chart
                [series]="series"
                [categories]="categories"
                [height]="800"
                title=""
                y-axis-title="One Year Rolling Incursion Rate"
                x-axis-title="Calendar Date"
              ></app-apex-line-chart>
            </ion-card-content>
          </ng-template>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button
    (click)="presentModal()"
    shape="round"
    style="position: fixed; bottom: 15px; right: 15px"
  >
    <ion-icon name="filter-outline" class="ion-margin-end"></ion-icon>
    <span>Filter</span>
  </ion-button>
</ion-content>
