<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button (click)="closeModal()"> Close </ion-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form
    [formGroup]="filtersFormGroup"
    (ngSubmit)="done()"
  >
    <ion-grid>
      <ion-row
        class="ion-text-center ion-justify-content-center ion-align-items-center"
      >
        <ion-col>
          <div *ngIf="dropdown.autocomplete; else modalSelection">
            <input
              formControlName="item"
              [required]="allRequired"
              list="options"
              [placeholder]="dropdown.label"
              style="
                margin-left: 1rem;
                width: 100%;
                border: 0;
                border-bottom: 1px solid #a4a4a4;
              "
            />

            <datalist id="options">
              <option
                *ngFor="let item of dropdown.data"
                [value]="item"
              ></option>
            </datalist>
          </div>
          <ng-template #modalSelection>
            <ion-item>
              <ion-label>{{ dropdown.label }}</ion-label>
              <ion-select
                placeholder="Select One"
                formControlName="item"
                [required]="allRequired"
              >
                <ion-select-option
                  *ngFor="let item of dropdown.data"
                  [value]="item"
                  >{{ item }}</ion-select-option
                >
              </ion-select>
            </ion-item>
          </ng-template>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="fixed">From</ion-label>
            <ion-input
              formControlName="minDate"
              type="date"
              [required]="allRequired"
            ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="fixed">To</ion-label>
            <ion-input
              formControlName="maxDate"
              type="date"
              [required]="allRequired"
            ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-button type="submit" expand="block">Search</ion-button>
          <ion-button
            (click)="filtersFormGroup.reset()"
            color="light"
            expand="block"
            >Reset</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
