<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Hourly Operation</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="Home" defaultHref="/app/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="bg-wave-inverse-2">
    <ion-row>
      <ion-col>
        <ion-card>
          <div *ngIf="isLoading$ | async; else content">
            <ion-card-content style="min-height: 600px">
              <div
                class="ion-text-center ion-justify-content-center ion-align-items-center"
              >
                <ion-spinner
                  name="crescent"
                  color="primary"
                  class="spinner-center"
                ></ion-spinner>
              </div>
            </ion-card-content>
          </div>

          <ng-template #content>
            <ion-card-content style="min-height: 600px">
              <ion-grid>
                <ion-row>
                  <ion-col size-lg="6" size-md="12" size-sm="12" size-xs="12">
                    <ion-card-subtitle>Average Hourly Operations 1</ion-card-subtitle>
                    <app-apex-line-chart
                      [categories]="categories"
                      [series]="series_1"
                      x-axis-title="Hour"
                      y-axis-title="Total Operations Reported"
                      [y-axis-round-off]="true"
                    ></app-apex-line-chart>
                  </ion-col>
                  <ion-col size-lg="6" size-md="12" size-sm="12" size-xs="12">
                    <ion-card-subtitle>Average Hourly Operations 2</ion-card-subtitle>
                    <app-apex-line-chart
                      [categories]="categories"
                      [series]="series_2"
                      x-axis-title="Hour"
                      y-axis-title="Total Operations Reported"
                      [y-axis-round-off]="true"
                      ></app-apex-line-chart>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ng-template>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
