<form [formGroup]="formGroup" (ngSubmit)="done()" style="height: 100%">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="closeModal()"> Close </ion-button>
      </ion-buttons>
      <ion-buttons slot="primary">
        <ion-button type="submit"> Done </ion-button>
      </ion-buttons>
      <ion-title>{{ title }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-grid>
      <ion-row
        class="ion-text-center ion-justify-content-center ion-align-items-center"
      >
        <ion-col *ngFor="let field of fields; index as i" size="12">
          <!-- text or number field type -->
          <div
            *ngIf="
              field.type === 'text' || field.type === 'number';
              else dropdownField
            "
          >
            <ion-item>
              <ion-label
                ><span>{{ field.label }}</span>
                <span
                  *ngIf="field.required"
                  style="color: red; margin-left: 3px"
                  >*</span
                >
              </ion-label>
              <ion-input
                [type]="field.type === 'number' ? field.type : 'text'"
                [placeholder]="field.placeholder"
                [formControlName]="field.formControlName"
                [required]="field.required"
                [clearInput]="true"
              >
              </ion-input>
            </ion-item>
          </div>

          <!-- dropdown field type -->
          <ng-template #dropdownField>
            <div *ngIf="field.autocomplete; else modalSelection">
              <input
                [formControlName]="field.formControlName"
                [required]="field.required"
                [placeholder]="field.label"
                list="options"
                style="
                  margin-left: 1rem;
                  width: 100%;
                  border: 0;
                  border-bottom: 1px solid #a4a4a4;
                "
              />

              <datalist id="options">
                <option [value]="null">NO SELECTION</option>
                <option
                  *ngFor="let item of field.options"
                  [value]="item.value"
                ></option>
              </datalist>
            </div>
            <ng-template #modalSelection>
              <ion-item>
                <ion-label
                  ><span>{{ field.label }}</span>
                  <span
                    *ngIf="field.required"
                    style="color: red; margin-left: 3px"
                    >*</span
                  >
                </ion-label>
                <ion-select
                  [placeholder]="field.placeholder"
                  [formControlName]="field.formControlName"
                  [required]="field.required"
                >
                  <ion-select-option [value]="null"
                    >NO SELECTION</ion-select-option
                  >
                  <ion-select-option
                    *ngFor="let item of field.options"
                    [value]="item.value"
                    >{{ item.text }}</ion-select-option
                  >
                </ion-select>
              </ion-item>
            </ng-template>
          </ng-template>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</form>
