<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Before-After 2012 Incursion</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="Home" defaultHref="/app/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="bg-wave-inverse-1">
    <ion-row>
      <ion-col>
        <ion-card>
          <div *ngIf="isLoading$ | async; else content">
            <ion-card-content style="min-height: 600px">
              <div
                class="ion-text-center ion-justify-content-center ion-align-items-center"
              >
                <ion-spinner
                  name="crescent"
                  color="primary"
                  class="spinner-center"
                ></ion-spinner>
              </div>
            </ion-card-content>
          </div>

          <ng-template #content>
            <ion-card-content style="min-height: 600px">
              <!-- <app-ng2-scatter-chart [data]="series"></app-ng2-scatter-chart> -->

              <!-- <app-apex-scatter-chart
                [series]="series"
                x-axis-title="Incursion Rate Before (per 100,000 Operations)"
                y-axis-title="Incursion Rate After (per 100,000 Operations)"
              ></app-apex-scatter-chart> -->

              <app-hc-scatter-chart
                [x-min]="filters.xMin"
                [x-max]="filters.xMax"
                [y-min]="filters.yMin"
                [y-max]="filters.yMax"
                [series]="filteredSeries"
                x-axis-title="Incursion Rate Before"
                y-axis-title="Incursion Rate After"
              ></app-hc-scatter-chart>
            </ion-card-content>
          </ng-template>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button
    (click)="presentDynamicFilterModal()"
    shape="round"
    style="position: fixed; bottom: 15px; right: 15px"
  >
    <ion-icon name="filter-outline" class="ion-margin-end"></ion-icon>
    <span>Filter</span>
  </ion-button>
</ion-content>
