<div style="width: 100%;">
  <highcharts-chart 
    [Highcharts]="highcharts"
    [options]="chartOptions"
    [(update)]="onUpdate"
    style="display: block; margin: 1rem; align-self: center;"
  ></highcharts-chart>
</div>