<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Airport Comparison</ion-title>
    <ion-buttons slot="start">
      <!-- <ion-menu-button></ion-menu-button> -->
      <ion-back-button text="Home" defaultHref="/app/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-menu-button></ion-menu-button>

      <!-- <ion-button (click)="presentModal()">
        <ion-icon name="filter-outline"></ion-icon>
      </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="bg-wave-inverse-1">
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-item>
              <ion-label>Select Chart</ion-label>
              <ion-select [(ngModel)]="currentChart">
                <ion-select-option
                  *ngFor="let chart of pageCharts"
                  [value]="chart"
                  >{{ chart }}</ion-select-option
                >
              </ion-select>
            </ion-item>
          </ion-card-content>

          <div *ngIf="isLoading$ | async; else content">
            <ion-card-content style="min-height: 600px">
              <div
                class="ion-text-center ion-justify-content-center ion-align-items-center"
              >
                <ion-spinner
                  name="crescent"
                  color="primary"
                  class="spinner-center"
                ></ion-spinner>
              </div>
            </ion-card-content>
          </div>

          <ng-template #content>
            <ion-card-content style="min-height: 600px">
              <ion-grid>
                <ion-row>
                  <ion-col size-lg="6" size-md="12" size-sm="12" size-xs="12">
                    <ion-card-subtitle
                      >Comparing all Incursion Rates</ion-card-subtitle
                    >
                    <app-apex-bar-chart
                      *ngIf="currentChart === charts.bar"
                      [series]="seriesIncursionRates"
                      [categories]="categories"
                      [is-horizontal]="true"
                      x-axis-title="Incursion Rate"
                      y-axis-title="Facility"
                      [show-y-axis-labels]="false"
                    ></app-apex-bar-chart>

                    <app-apex-radar-chart
                      *ngIf="currentChart === charts.radar"
                      [series]="seriesIncursionRates"
                      [categories]="categories"
                      [show-x-axis-labels]="false"
                    ></app-apex-radar-chart>
                  </ion-col>
                  <ion-col size-lg="6" size-md="12" size-sm="12" size-xs="12">
                    <ion-card-subtitle
                      >Comparing all Operation Totals</ion-card-subtitle
                    >
                    <app-apex-bar-chart
                      *ngIf="currentChart === charts.bar"
                      [series]="seriesOperationTotals"
                      [categories]="categories"
                      [is-horizontal]="true"
                      x-axis-title="Operations"
                      y-axis-title="Facility"
                      [show-y-axis-labels]="false"
                    ></app-apex-bar-chart>

                    <app-apex-radar-chart
                      *ngIf="currentChart === charts.radar"
                      [series]="seriesOperationTotals"
                      [categories]="categories"
                      [show-x-axis-labels]="false"
                    ></app-apex-radar-chart>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ng-template>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button
    (click)="presentModal()"
    shape="round"
    style="position: fixed; bottom: 15px; right: 15px"
  >
    <ion-icon name="filter-outline" class="ion-margin-end"></ion-icon>
    <span>Filter</span>
  </ion-button>
</ion-content>
