<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Before-After 2012 Incursion</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-back-button text="Home" defaultHref="/app/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="bg-wave-inverse-1">
    <ion-row>
      <ion-col>
        <ion-card>
          <div *ngIf="isLoading$ | async; else content">
            <ion-card-content style="min-height: 600px">
              <div
                class="ion-text-center ion-justify-content-center ion-align-items-center"
              >
                <ion-spinner
                  name="crescent"
                  color="primary"
                  class="spinner-center"
                ></ion-spinner>
              </div>
            </ion-card-content>
          </div>

          <ng-template #content>
            <ion-card-content style="min-height: 600px">
              <app-dy-scatter-chart
                [data]="xaxis"
                [options]="options"
              ></app-dy-scatter-chart>

              <!-- <div *ngFor="let item of series">
                <ion-card-subtitle>{{ item.name }}</ion-card-subtitle>

                <ng-dygraphs
                  [data]="item.data"
                  [options]="options"
                ></ng-dygraphs>
              </div> -->
            </ion-card-content>
          </ng-template>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
