<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Home</ion-title>
    <ion-buttons slot="primary">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="bg-wave-inverse-8">
    <ion-row class="ion-justify-content-center">
      <ion-col
        *ngFor="let item of appPages"
        size-lg="3"
        size-md="4"
        size-xs="6"
        size-sm="6"
      >
        <ion-card
          (click)="navigateTo(item)"
          style="height: 100%; cursor: pointer"
        >
          <ion-card-content style="height: 100%">
            <div
              class="ion-text-center"
              style="
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
              "
            >
              <div>
                <img [src]="item.image" height="75" width="75" alt="" />
                <ion-card-subtitle>{{ item.title }}</ion-card-subtitle>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
