/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Custom Font */
@import "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";

:root {
  --ion-font-family: 'Poppins', sans-serif;
}

ion-card {
  margin: 1px
}

.spinner-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-item {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg-wave-1 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("/assets/waves/default/wave-1.svg") no-repeat center center;
  background-size: cover;
}

.bg-wave-2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("/assets/waves/default/wave-2.svg") no-repeat center center;
  background-size: cover;
}

.bg-wave-3 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("/assets/waves/default/wave-3.svg") no-repeat center center;
  background-size: cover;
}

.bg-wave-4 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("/assets/waves/default/wave-4.svg") no-repeat center center;
  background-size: cover;
}

.bg-wave-5 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("/assets/waves/default/wave-5.svg") no-repeat center center;
  background-size: cover;
}

.bg-wave-6 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("/assets/waves/default/wave-6.svg") no-repeat center center;
  background-size: cover;
}

.bg-wave-7 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("/assets/waves/default/wave-7.svg") no-repeat center center;
  background-size: cover;
}

.bg-wave-8 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("/assets/waves/default/wave-8.svg") no-repeat center center;
  background-size: cover;
}

.bg-wave-9 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("/assets/waves/default/wave-9.svg") no-repeat center center;
  background-size: cover;
}

.bg-wave-10 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("/assets/waves/default/wave-10.svg") no-repeat center center;
  background-size: cover;
}

.bg-wave-11 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("/assets/waves/default/wave-11.svg") no-repeat center center;
  background-size: cover;
}

.bg-wave-12 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("/assets/waves/default/wave-12.svg") no-repeat center center;
  background-size: cover;
}

.bg-wave-13 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("/assets/waves/default/wave-13.svg") no-repeat center center;
  background-size: cover;
}

.bg-wave-14 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("/assets/waves/default/wave-14.svg") no-repeat center center;
  background-size: cover;
}

.bg-wave-15 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("/assets/waves/default/wave-15.svg") no-repeat center center;
  background-size: cover;
}

/* WAVE INVERSE */
.bg-wave-inverse-1 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("/assets/waves/inverse/wave-1.svg") no-repeat center center;
  background-size: cover;
}

.bg-wave-inverse-2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("/assets/waves/inverse/wave-2.svg") no-repeat center center;
  background-size: cover;
}

.bg-wave-inverse-3 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("/assets/waves/inverse/wave-3.svg") no-repeat center center;
  background-size: cover;
}

.bg-wave-inverse-4 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("/assets/waves/inverse/wave-4.svg") no-repeat center center;
  background-size: cover;
}

.bg-wave-inverse-5 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("/assets/waves/inverse/wave-5.svg") no-repeat center center;
  background-size: cover;
}

.bg-wave-inverse-6 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("/assets/waves/inverse/wave-6.svg") no-repeat center center;
  background-size: cover;
}

.bg-wave-inverse-7 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("/assets/waves/inverse/wave-7.svg") no-repeat center center;
  background-size: cover;
}

.bg-wave-inverse-8 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("/assets/waves/inverse/wave-8.svg") no-repeat center center;
  background-size: cover;
}

.bg-wave-inverse-9 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("/assets/waves/inverse/wave-9.svg") no-repeat center center;
  background-size: cover;
}

.bg-wave-inverse-10 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("/assets/waves/inverse/wave-10.svg") no-repeat center center;
  background-size: cover;
}

.bg-wave-inverse-11 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("/assets/waves/inverse/wave-11.svg") no-repeat center center;
  background-size: cover;
}

.bg-wave-inverse-12 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("/assets/waves/inverse/wave-12.svg") no-repeat center center;
  background-size: cover;
}

.bg-wave-inverse-13 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("/assets/waves/inverse/wave-13.svg") no-repeat center center;
  background-size: cover;
}

.bg-wave-inverse-14 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("/assets/waves/inverse/wave-14.svg") no-repeat center center;
  background-size: cover;
}

.bg-wave-inverse-15 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("/assets/waves/inverse/wave-15.svg") no-repeat center center;
  background-size: cover;
}