<ion-content>
  <ion-grid
    style="height: 100%; display: flex; flex-direction: column;"
    class="ion-justify-content-around ion-align-items-center"
  >
    <ion-row style="width: 100%;">
      <ion-col>
        <div class="ion-text-center">
          <ion-spinner></ion-spinner>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
