<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Hourly Data Accuracy</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="Home" defaultHref="/app/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="bg-wave-inverse-4">
    <ion-row>
      <ion-col>
        <ion-card>
          <div *ngIf="isLoading$ | async; else content">
            <ion-card-content style="min-height: 600px">
              <div
                class="ion-text-center ion-justify-content-center ion-align-items-center"
              >
                <ion-spinner
                  name="crescent"
                  color="primary"
                  class="spinner-center"
                ></ion-spinner>
              </div>
            </ion-card-content>
          </div>

          <ng-template #content>
            <ion-card-content>
              <ion-card-header>
                <ion-card-subtitle>
                  Hourly Data Accuracy Confirmation
                </ion-card-subtitle>
              </ion-card-header>
            </ion-card-content>

            <ion-card-content style="min-height: 600px">
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <app-apex-line-chart
                      [categories]="categories"
                      [series]="series"
                      [show-x-axis-labels]="false"
                      y-axis-title="Total Events Reported"
                      x-axis-title="Hour"
                    ></app-apex-line-chart>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ng-template>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button
    (click)="presentModal()"
    shape="round"
    style="position: fixed; bottom: 15px; right: 15px"
  >
    <ion-icon name="filter-outline" class="ion-margin-end"></ion-icon>
    <span>Filter</span>
  </ion-button>
</ion-content>
