<ion-content>
  <ion-grid
    style="height: 100%; display: flex; flex-direction: column"
    class="ion-justify-content-around ion-align-items-center"
  >
    <ion-row>
      <ion-col>
        <div class="ion-text-center ion-margin-bottom">
          <img [src]="logo" alt="logo" />
          <h2>Runway Incursion</h2>
        </div>
      </ion-col>
    </ion-row>

    <ion-row style="width: 100%">
      <ion-col>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <ion-item class="ion-margin-bottom">
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>

          <ion-item class="ion-margin-bottom">
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>

          <ion-button
            class="ion-margin-top"
            type="submit"
            size="large"
            expand="block"
            >Login
          </ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
