<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Incursion Rate</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="Home" defaultHref="/app/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="bg-wave-inverse-2">
    <ion-row>
      <ion-col>
        <ion-card>
          <div *ngIf="isLoading$ | async; else content">
            <ion-card-content style="min-height: 800px">
              <div
                class="ion-text-center ion-justify-content-center ion-align-items-center"
              >
                <ion-spinner
                  name="crescent"
                  color="primary"
                  class="spinner-center"
                ></ion-spinner>
              </div>
            </ion-card-content>
          </div>

          <ng-template #content>
            <ion-card-content style="min-height: 800px">
              <app-apex-line-chart-alt
                [series]="series"
                [categories]="categories"
                [height]="800"
                [format-number]="false"
                x-axis-type="datetime"
                title=""
                y-axis-title="Incursion Rates"
                x-axis-title="Dates"
              ></app-apex-line-chart-alt>
            </ion-card-content>
          </ng-template>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
