<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Type And Grade</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="Home" defaultHref="/app/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!-- <ion-buttons slot="primary">
      <ion-button (click)="presentModal()">
        <ion-icon name="filter-outline"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="bg-wave-inverse-2">
    <ion-row>
      <ion-col>
        <ion-card>
          <div *ngIf="isLoading$ | async; else content">
            <ion-card-content style="min-height: 600px">
              <div
                class="ion-text-center ion-justify-content-center ion-align-items-center"
              >
                <ion-spinner
                  name="crescent"
                  color="primary"
                  class="spinner-center"
                ></ion-spinner>
              </div>
            </ion-card-content>
          </div>

          <ng-template #content>
            <ion-card-content>
              <ion-card-header>
                <ion-card-subtitle
                  >Runway Incursions by Error Type and Grade - {{
                  filtersFormGroupValues.aircraftType }}</ion-card-subtitle
                >
              </ion-card-header>
            </ion-card-content>
            <ion-card-content style="min-height: 600px">
              <app-apex-stacked-bar-chart
                [series]="series"
                [categories]="allCategories"
                x-axis-title="Operation Error Type"
                y-axis-title="Number of Incursions"
                [show-x-axis-labels]="true"
                [x-axis-format-number]="false"
              ></app-apex-stacked-bar-chart>
            </ion-card-content>
          </ng-template>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button
    (click)="presentModal()"
    shape="round"
    style="position: fixed; bottom: 15px; right: 15px"
  >
    <ion-icon name="filter-outline" class="ion-margin-end"></ion-icon>
    <span>Filter</span>
  </ion-button>
</ion-content>
